<ion-view view-title="About Us"   class="bgImage">
  <ion-content>
   <center><img src="https://firebasestorage.googleapis.com/v0/b/ammakitchen-db.appspot.com/o/appSettingsImages%2FLogo_icon.png?alt=media&token=05d8d769-5171-4a25-a869-c59e12aa9ff6"></center>

   		<h2 class="section-content-title">About Us!</h2>
   		<div class="section-content">Authentic south Indian Kumbakonam style restaurant run by team of professional chef's,we bring to you a wide variety of tasty south Indian food with primary focus on taste, service, ambience and cleanliness to give our patrons an enjoyable dining experience
</div>
   <br>
   <div class="section-content-highlight">High quality food with homely taste</div>
   <br>
   <div class="section-content-highlight">We do outdoor catering also with South Indian style banana leaf serving </div>
  </ion-content>
</ion-view>