<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive" >
      <!-- <ion-nav-back-button>
      </ion-nav-back-button>
 -->
      <ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="background-color:lightgreen;">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <!--ion-header-bar class="bar-stable">
      <h1 class="title">Amma Kitchen</h1>
    </ion-header-bar-->
    <ion-content class="menu-item">

      <ion-list >
        <ion-item menu-close href="#/app/home" class="menuionitem" >
          <img src="img/icons/home.png" style="width:22px;height:22px;">&nbsp; Home
        </ion-item>
        <ion-item menu-close href="#/app/todaysmenu"  class="menuionitem">
          <img src="img/icons/todaysmenu.png" style="width:22px;height:22px;">&nbsp; Today's Menu
        </ion-item>
        <ion-item menu-close href="#/app/locations"  class="menuionitem">
          <img src="img/icons/location.png" style="width:22px;height:22px;">&nbsp; Locations
        </ion-item>
        <ion-item menu-close href="#/app/playlists" class="menuionitem">
          <img src="img/icons/orders.png" style="width:22px;height:22px;">&nbsp; Order Status / History
        </ion-item>
        <ion-item menu-close href="#/app/aboutus"  class="menuionitem">
         <img src="img/icons/aboutus.png" style="width:22px;height:22px;">&nbsp; About Us
        </ion-item>
        <ion-item menu-close href="#/app/settings" class="menuionitem" ng-show="isUserAdmin()">
          <img src="img/icons/settings.png" style="width:22px;height:22px;">&nbsp; Settings
        </ion-item>
        <ion-item menu-close href="" class="menuionitem" ng-show="isUserAdmin()">
          <img src="img/icons/users.png" style="width:22px;height:22px;">&nbsp; Users
        </ion-item>
        <ion-item menu-close href="#/app/login"  class="menuionitem" ng-show="!hasUserLoggedIn()">
          <img src="img/icons/login.png" style="width:22px;height:22px;">&nbsp; Login / Sign up
        </ion-item>
        <ion-item menu-close ng-click="signOut()"  class="menuionitem" ng-show="hasUserLoggedIn()">
          <img src="img/icons/logout.png" style="width:22px;height:22px;">&nbsp; Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
