<ion-view view-title="Amma's Kitchen" style="background-image:url('../img/bg3.png')">
  <ion-content>
      <div>
      <center><img src="img/todaysmenu.png" style="width:80%"</center>
      </div>
    <div><br>
    <ion-list>
      <span ng-repeat="cat in itemsCategory">
        <div class="item item-divider">{{cat.Name}}</div>
        <span ng-repeat="item in itemsList">
            <ion-item class="item item-thumbnail-left item-text-wrap" menu-close style="background-color:#DFE5B5;" ng-show="sameCategory(cat.Id, item.CategoryId)">
                <img src="{{item.ImageUrl}}" style="width:50px;height:50px;border:2px solid black;" >
                <table style="margin-left:-30px;width:100%;">
                    <tr>
                        <td>
                            <h2 style="font-weight:bold;">{{item.Name}}</h2>
                            <p>{{item.Desc}}</p>
                            <p ng-show="isEmptyDesc(item.Desc)"> - No detailed description - </p>
                            <h4>
                              <img src="img/spicy.png" style="width:20px;" ng-show="isNormalSpicy(item.Spicy)">
                              <img src="img/spicy.png" style="width:20px;" ng-show="isMediumSpicy(item.Spicy)">
                              <img src="img/spicy.png" style="width:20px;" ng-show="isHotSpicy(item.Spicy)">
                              &nbsp; &nbsp; 
                              <span ng-show="item.ChiefSpecial"><img src="img/ChefSpecial.png" style="width:20px;"> Chef Special &nbsp; &nbsp;</span>
                            </h4>
                        </td>
                        <td align="right" style="text-align:center; width:30%; vertical-align:top;" nowrap="true">
                            <div class="price">{{item.Price | currency:"$ "}}</div>
                            <img src="img/add2Cart.png" style="width:35px;margin-top:5px;" ng-hide="hasAdded2Cart(item.Id)">
                            <img src="img/added2Cart1.png" style="width:35px;margin-top:5px;" ng-show="hasAdded2Cart(item.Id)">
                        </td>
                    </tr>
                </table>
            </ion-item>
        </span>
      </span>
    </ion-list>
        <center><img src="img/todaysmenuend.png" style="width:80%"</center>
      </div>
  </ion-content>
</ion-view>