<ion-view view-title="Amma's Kitchen" style="background-image:url('../img/bg3.png')">
  <ion-content>
      <div>
      <center><img src="img/todaysmenu.png" style="width:80%"</center>
      </div>
      <ion-list>
           <div class="item item-divider">
            Veg. Appetizer
            </div>
          <ion-item class="item item-thumbnail-left" menu-close style="background-color:#DFE5B5;">
              <img src="img/items/T8FN91FYZTH64.jpg" style="width:50px;height:50px;">
              <table style="margin-left:-30px;width:100%;">
                  <tr>
                      <td>
                          <h2 style="font-weight:bold;">Gobi 65</h2>
                          <h3>Don't Know What To Do!</h3>
                          <h4><img src="img/spicy.png" style="width:20px;">&nbsp; &nbsp; 
                          <img src="img/ChefSpecial.png" style="width:20px;"> Chef Special &nbsp; &nbsp;</h4>
                      </td>
                      <td style="text-align:center; vertical-align:middle;">
                          <div class="price">$ 5.75</div>
                          <img src="img/add2Cart.png" style="width:35px;margin-top:5px;">
                      </td>
                  </tr>              
              </table>
         </ion-item>
           <ion-item class="item item-thumbnail-left" menu-close style="background-color:#DFE5B5;">
              <img src="img/items/1KG9P1CS2A9W6.jpg" style="width:50px;height:50px;">
              <table style="margin-left:-30px;width:100%;">
                  <tr>
                      <td>
                          <h2 style="font-weight:bold;">Gobi 65</h2>
                          <h3>Don't Know What To Do!</h3>
                          <h4><img src="img/spicy.png" style="width:20px;"> &nbsp; &nbsp; 
                          <img src="img/ChefSpecial.png" style="width:20px;"> Chef Special &nbsp; &nbsp;</h4>
                      </td>
                      <td style="text-align:center; vertical-align:middle;">
                          <div class="price">$ 7.00</div>
                          <img src="img/added2Cart1.png" style="width:35px;margin-top:5px;">
                      </td>
                  </tr>              
              </table>
         </ion-item>
      </ion-list>
      <ion-list>
           <div class="item item-divider">
            Non-Veg. Appetizer
            </div>
          <ion-item class="item item-thumbnail-left" menu-close style="background-color:#DFE5B5;">
              <img src="img/items/J9MMW20S83WQW.jpg" style="width:50px;height:50px;">
              <table style="margin-left:-30px;width:100%;">
                  <tr>
                      <td>
                          <h2 style="font-weight:bold;">Chicken Pepper Fry</h2>
                          <h3>Don't Know What To Do!</h3>
                          <h4><img src="img/spicy.png" style="width:20px;"> <img src="img/spicy.png" style="width:20px;">&nbsp; &nbsp; 
                          <img src="img/ChefSpecial.png" style="width:20px;"> Chef Special &nbsp; &nbsp;</h4>
                      </td>
                      <td style="text-align:center; vertical-align:middle;">
                          <div class="price">$ 8.00</div>
                          <img src="img/add2Cart.png" style="width:35px;margin-top:5px;">
                      </td>
                  </tr>              
              </table>
         </ion-item>
           <ion-item class="item item-thumbnail-left" menu-close style="background-color:#DFE5B5;">
              <img src="img/items/VDTT6Q39M7R6J.jpg" style="width:50px;height:50px;">
              <table style="margin-left:-30px;width:100%;">
                  <tr>
                      <td>
                          <h2 style="font-weight:bold;">Half Boil Egg / Kalaki</h2>
                          <h3>Don't Know What To Do!</h3>
                          <h4><img src="img/spicy.png" style="width:20px;"> <img src="img/spicy.png" style="width:20px;"> <img src="img/spicy.png" style="width:20px;">&nbsp; &nbsp; <img src="img/ChefSpecial.png" style="width:20px;"> Chef Special &nbsp; &nbsp;</h4>
                      </td>
                      <td style="text-align:center; vertical-align:middle;">
                          <div class="price">$ 7.00</div>
                          <img src="img/add2Cart.png" style="width:35px;margin-top:5px;">
                      </td>
                  </tr>              
              </table>
         </ion-item>
      </ion-list>
    <div><br>
        <center><img src="img/todaysmenuend.png" style="width:80%"</center>
      </div>
  </ion-content>
</ion-view>