/* Empty. Add your own CSS if you like */
.bgImage{
  background: url('https://firebasestorage.googleapis.com/v0/b/ammakitchen-db.appspot.com/o/appSettingsImages%2Fbg3.png?alt=media&token=e042b5e5-54f4-432a-ac0f-505b6bf9be3d');
}
.scroll-content{
  background: url('https://firebasestorage.googleapis.com/v0/b/ammakitchen-db.appspot.com/o/appSettingsImages%2Fbg3.png?alt=media&token=e042b5e5-54f4-432a-ac0f-505b6bf9be3d');  
}
.footerBg {
  background-color: #8BC34A;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  color: Black;
}
.icon-circle, .icon-circle-large, .icon-circle-small{
  position: relative;
  display: inline-block;
  margin: -1px;
  padding: -26px;
  
  
  width: 45px; /* 60*/
	height: 45px; 
  font-size:40px; 
  
   -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
  
	
  
  border: 1px solid #ebebeb;
 
  /*background: rgb(0, 161, 225); /*#ececec;ebebeb*/
  background: rgb(255, 0, 0); /*#ececec;ebebeb*/
  color: #fff;
  
  text-align:center;
  vertical-align: middle;
}

.icon-circle-large {
  width: 100px;
  height: 100px;
  font-size: 64px; /* 64, originally 60 */
  padding: 16px;
  
  
}
.icon-circle-small {
  width: 28px;
  height: 28px;
  font-size: 15px;
}


/*.icon-circle i, .icon-circle-small i, .icon-circle-large i { vertical-align: middle; }*/

.icon-circle-outline {
   border: 1px solid rgb(0, 161, 225);
   background: transparent;
  color: rgb(0, 161, 225);
   /*color: #8a6de9;*/
}

.icon-circle-outline i {  }
/*icon-circle-bg and icon-circle and circle-bg*/




/*http://davidwalsh.name/css-circles*/



.item-icon-circle {
   -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
  /* width and height can be anything, as long as they're equal */
  
  text-align:center;
  color:white;
  /* font size here wont work */

}

.item-icon-circle i {
  /*text-align:center;
  color:white;*/
   /*margin: 0px auto;
  padding: 0px;
  display:block;*/
  font-size:60px;
}



/*
    letter-spacing: 1px;
  overflow: hidden;
  
  
    perspective-origin: 40px 40px;
    transform-origin: 40px 40px;
    background: rgb(0, 161, 225) none repeat scroll 0% 0% / auto padding-box border-box;
*/

.bg-circle-alt {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
}
.side-menu{
 background: #333;
}
.menu-item{
 background: #3f4041 !important;
}

.menu-item item{
    background-color:transparent;
    border:none;
    border-top: 1px solid;
    border-bottom: 2px solid;
    border-color: #666;
    color:white;
    
}
.menuionitem{
    background-color:transparent;
    border:none;
    border-top: 1px solid;
    border-bottom: 2px solid;
    border-color: #666;
    color:white;
    
}
.menuionitem:hover{
    background-color:transparent;
    border:none;
    border-top: 1px solid;
    border-bottom: 2px solid;
    border-color: #666;
    color:white;
    
}
.menu-item .item:last-child{
    border-bottom: 1px solod #666;
}
.menu-item .item-complex .item-content, .dark .item-radio .item-content{
    background-color: transparent;
}

.menu-item h2, 
.menu-item h3,
.menu-item p,
.menu-item a{
    color:white;
}
.item.thumb-centre img{
  position: center !important;
  top: 10px !important;
  left: 20px !important;
  max-width: 80px !important;
  max-height: 80px !important;
}
.price{
    background-color: white;
    border-radius: 10px;
    color:dimgrey;
    font-weight: bold;
    font-size: larger;
}

/*
.item.item-thumbnail-left{
  margin-left: 20px !important;
  
}
*/

.scroll{
    height: 100%;
}

.mapview{
    height: 40%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.rightarrow{
  border: solid black;
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 3px;
  /*right*/
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /*
    ----LEFT-----
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    ----UP-----
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    ----DOWN-----
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  */
}
.otherday{
  /*border-bottom:1px solid lightblue;*/
  font-weight:normal;
  color: black;
}
.today{
    font-size: 15px;
    font-weight: bolder;
    color: green;
}
.section-content-title{
  text-indent: 20px;
  font-family: 'Roboto';
  font-weight:bolder;
  font-size:30px;
  color:#0d5d92;
}
.section-content{
  text-indent: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-family: 'verdana';
  font-weight: bolder;
  font-size: 15px;
  color:#013659;
}
.section-content-highlight{
  text-indent: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-family: 'verdana';
  font-weight: bold;
  font-size: 15px;
  color:#013659;
}

/********** ACTION SHEET STYLES ***********/
.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.platform-android .action-sheet {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    z-index: 11;
    overflow: hidden;
}

.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #d1d3d6;
    background-color: transparent;
    color: #007aff;
    font-size: 21px;
    text-align: center;
}

.platform-android .action-sheet .action-sheet-title {

    padding: 16px;

    color: #8f8f8f;

    text-align: center;

    font-size: 13px;

}

.platform-android .action-sheet .button.active,

.platform-android .action-sheet .button.activated {

    background: #e8e8e8;

}

.platform-android .action-sheet-group {

    margin-bottom: 8px;

    border-radius: 4px;

    background-color: #fff;

    overflow: hidden;

}

.platform-android .action-sheet-group .button {

    border-width: 1px
0  0;

}

.platform-android .action-sheet .button {

    display: block;

    padding: 1px;

    width: 100%;

    border-radius: 0;

    border-color: #d1d3d6;

    background-color: transparent;

    color: #007aff;

    font-size: 21px;

}

.platform-android .action-sheet-cancel {

    font-weight: 500;

    display: block;

}

.platform-android .action-sheet-has-icons .button {}
/********* ACTION SHEET STYLES END ********/

/***** RADIO BUTTON STYLE *****/
.radioButtonGroupSquareActive{
  background: #4CD964;
  color:white;
  padding:5px 5px 5px 5px;
  border:1px solid darkgray;
}
.radioButtonGroupSquare{
  background:lightgray;
  color:black;
  border:1px solid darkgray;
  padding:5px 5px 5px 5px;
}
.radioButtonGroupActive{
  background: #4CD964;
  color:white;
  padding:5px 5px 5px 5px;
  border-top:1px solid darkgray;
  border-bottom:1px solid darkgray;
  border-right:1px solid darkgray;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
}
.radioButtonGroup{
  background:lightgray;
  color:black;
  border-top:1px solid darkgray;
  border-bottom:1px solid darkgray;
  border-right:1px solid darkgray;
  padding:5px 5px 5px 5px;
}

.radioButtonGroupLeftEndActive{
  background: #4CD964;
  color:white;
  padding:5px 5px 5px 5px;
  border-top:1px solid darkgray;
  border-left:1px solid darkgray;
  border-bottom:1px solid darkgray;
  border-right:1px solid darkgray;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}
.radioButtonGroupLeftEnd{
  background:lightgray;
  color:black;
  padding:5px 5px 5px 5px;
  border-top:1px solid darkgray;
  border-left:1px solid darkgray;
  border-bottom:1px solid darkgray;
  border-right:1px solid darkgray;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}
.radioButtonGroupRightEndActive{
  background: #4CD964;
  color:white;
  padding:5px 5px 5px 5px;
  border:1px solid darkgray;
  border-top:1px solid darkgray;
  border-right:1px solid darkgray;
  border-bottom:1px solid darkgray;
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
}
.radioButtonGroupRightEnd{
  background:lightgray;
  color:black;
  padding:5px 5px 5px 5px;
  border-top:1px solid darkgray;
  border-right:1px solid darkgray;
  border-bottom:1px solid darkgray;
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
}
/****************** END *************/
.inputTypeBox{
  border: 1px solid gray;
  background: #e8f8f9;
  bord:2px;
  padding: 5px 5px 5px 5px;
}
.popupStyle .popup{
  width: 80%;
  /*height: 80%;*/
}
/*$assertive :#ef473a;*/
.button-float{
  background: #EB5B2F !important;
  color:white !important;
  z-index: 12 !important;
  position: relative !important; 
  margin-top: 8%;
  margin-left:15%;
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
}

.button-float:hover{
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    background: darken(#EB5B2F, 10%) !important;
}

/* DELETE/REORDER ICON OPTION */
.deleteOn {
  background-color:#EF473A;
  border:1px solid black;
  border-radius:3px;
  color:white;
}
.deleteOff{
  background-color:white;
  border:1px solid black;
  border-radius:3px;
  color:black;
}
.reorderOn{
  background-color:#1ea4e8;
  border:1px solid black;
  border-radius:3px;
  color:white;
}
.reorderOff{
  background-color:white;
  border:1px solid black;
  border-radius:3px;
  color:#1ea4e8;
}
/* End of DELETE/REORDER ICON OPTION*/

/* ACCORDION STYLES */
.list .item.item-accordion {
  /*line-height: 38px;*/
  padding-top: 10px;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/* END OF ACCORDION STYLES */